/* Left side - Filter section */
.filters {
    flex: 0 0 250px;
    max-width: 250px;
    padding: 20px;
    border-right: 2px solid #ccc;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    transition: opacity 0.5s ease;
    opacity: 0;
    animation: slideInFromLeft 0.5s ease-out forwards;
  }
  
  .filters h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  /* Checkbox styling */
  .checkbox {
    margin-bottom: 15px;
  }
  
  .checkbox label {
    font-size: 1.1em;
    color: #555;
  }
  
  .checkbox input {
    margin-right: 10px;
  }
  .location-dropdown select{
      height: 50px;
      display: inline-block;
      border-radius: 10px;
      background-color: white;  
      width: 200px;
      border: 0px solid;
      box-shadow: #333;

  }
  /* Animation */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Responsive filter styles */
  @media screen and (max-width: 768px) {
    .filters {
      position: absolute;
      left: 0;
      height: 100%;
      max-width: 250px;
      transform: translateX(-100%);
      opacity: 0;
      transition: opacity 0.5s ease;
    }
  
    .filters.visible {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Filters Wrapper */
  .filters-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .filter-panel {
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    overflow-y: auto;
    max-height: 0;
    padding: 0;
    height: 0;
    opacity: 0;
  }
  